<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar reportes</title>
</head>
<body style="overflow: hidden;">
    
    <div class="container-fluid row g-0">
        <div class="row min-vh-100 min-vw-100" style="padding: 0px; margin: 0px;">
            <div th:replace="auditor/fragments/sidebar :: sidebar"></div>

            <main class="p-4 col bg-light">
                
            </main>
        </div>
    </div>
</body>
</html>