<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel del Contador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" href="/icons/dashboard.png" sizes="96x96">
    <link rel="stylesheet" href="/css/hover.css">
</head>
<body>
    <div class="row g-0">
        <div class="row min-vh-100 min-vw-100" style="padding: 0px; margin: 0px;">

            <!-- SIDEBAR -->
            <div th:replace="contador/fragments/sidebar :: sidebar"></div>

            <!-- MAIN CONTENT -->
            <main class="col p-4 overflow-auto bg-light">
                <div class="mb-4">
                    <h2>Bienvenido al sistema</h2>
                    <p class="fs-5 text-white mb-0 badge text-bg-secondary text-wrap fs-6">Panel de control
                        <span></span>
                    </p>
                    <p class="text-muted text-end">Usuario activo: <strong>CONTADOR</strong></p>
                </div>     
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card card-hover card-custom h-100 pb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Registrar partida</h5>
                                    <p class="card-text">Registrar nuevas partidas contables con fecha, concepto y cuentas
                                        haber/debe</p>
                                </div>
                                <div class="card-footer card-custom">
                                    <a href="/contador/registrar-partida" class="btn btn-light w-100">Registrar</a>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card card-hover card-custom h-100 pb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Subir documento</h5>
                                    <p class="card-text">Cargar documentos PDF como soporte de las partidas contables</p>
                                </div>
                                <div class="card-footer card-custom">
                                    <a href="/contador/subir-doc" class="btn btn-light w-100">Subir</a>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-6 col-xl-4 mb-4">
                            <div class="card card-hover card-custom h-100 pb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Generar reporte</h5>
                                    <p class="card-text">Crear reportes por periodo y exportar PDF/Excel.</p>
                                </div>
                                <div class="card-footer card-custom">
                                    <a href="/contador/generar-reportes" class="btn btn-light w-100">Generar</a>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-6 col-xl-4 mb-4">
                            <div class="card card-hover card-custom h-100 pb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Libro diario</h5>
                                    <p class="card-text">Consultar y gestionar el libro diario de operaciones.</p>
                                </div>
                                <div class="card-footer card-custom">
                                    <a href="/contador/libro-diario" class="btn btn-light w-100">Gestionar</a>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-6 col-xl-4 mb-4">
                            <div class="card card-hover card-custom h-100 pb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Libro mayor</h5>
                                    <p class="card-text">Visualizar el libro mayor y balances de cuentas.</p>
                                </div>
                                <div class="card-footer card-custom">
                                    <a href="/contador/libro-mayor" class="btn btn-light w-100">Gestionar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>