<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Registrar partidas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/contador/registrar-partida.css" />
  <link rel="icon" href="/icons/dashboard.png" sizes="96x96" />
</head>
<body class="bg-light">
  <div class="container-fluid row g-0">
    <div class="row min-vh-100 min-vw-100" style="padding: 0px; margin: 0px">

      <!-- SIDEBAR -->
      <div th:replace="contador/fragments/sidebar :: sidebar"></div>

      <!-- ¿ cooking o cooked ? -->

      <!-- MAIN CONTENT -->
      <main class="col p-4 overflow-auto" style="max-height: 100vh">

        <div class="container-fluid">
          <form class="entry-form">
            <div class="form-section">
              <h2 class="text-center">Información de partida</h2>

              <div class="form-grid">

                <!-- CAMPOS DE LA PARTIDA -->
                <div class="form-group span-2">
                  <label for="date">Ingrese la fecha</label>
                  <input type="date" id="fecha_partida" required/>
                </div>

                <div class="form-group span-2">
                  <label for="descripcion">Descripción o concepto</label>
                  <textarea id="descripcion_partida" rows="3" placeholder="Descripción detallada de la operación" required></textarea>
                </div>
              </div>
            </div>

            <div class="form-section row mb-0">
              <h2>Detalle de partida</h2>

              <!-- CAMPOS DEL DEBE -->
              <div id="contenedorDebe" class="entry-item col mb-0">
                <div class="entry-header">
                  <h3>Debe</h3>
                  <button type="button" id="agregarCuentaDebe" class="add-btn" onclick="">
                    Agregar Cuenta
                  </button>
                </div>

                <!-- SELECT DEL DEBE  -->
                <div class="account-entries">
                  <div class="account-row mb-3 item-contenedor-debe">
                    <div class="form-group">
                      <label>Código y nombre de la cuenta</label>
                      <select name="selectDebe" required>
                        <option value="" selected disabled>Seleccione una cuenta</option>
                        <option th:each="cuenta : ${todasLasCuentas}" th:value="${cuenta.idCuenta}"
                          th:text="${cuenta.codigo + ' - ' + cuenta.nombre}">
                        </option>
                      </select>
                    </div>

                    <!-- INPUT MONTO -->
                    <div class="form-group">
                      <label for="monto">Monto</label>
                      <input type="number" name="monto-cuenta-debe" step="0.01" placeholder="0.00" min="1" required/>
                    </div>
                    <button type="button" class="remove-btn">x</button>
                  </div>
                </div>
              </div>

              <!-- CAMPOS DEL HABER -->
              <div id="contenedorHaber" class="entry-item col mb-0">
                <div class="entry-header">
                  <h3>Haber</h3>
                  <button type="button" id="agregarCuentaHaber" class="add-btn" onclick="">
                    Agregar Cuenta
                  </button>
                </div>
                <div class="account-entries">
                  <div class="account-row mb-3 item-contenedor-haber">

                    <!-- SELECT DEL HABER -->
                    <div class="form-group">
                      <label for="selectHaber">Código y nombre de la cuenta</label>
                      <select name="selectHaber" required>
                        <option value="" selected disabled>Seleccione una cuenta</option>
                        <option th:each="cuenta : ${todasLasCuentas}" th:value="${cuenta.idCuenta}"
                          th:text="${cuenta.codigo + ' - ' + cuenta.nombre}"></option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="monto">Monto</label>
                      <input type="number" name="monto-cuenta-haber" step="0.01" placeholder="0.00" min="1" required/>
                    </div>
                    <button type="button" class="remove-btn">x</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- BOTONES DE ACCIONES -->
            <div class="form-actions pt-3 mt-0 border-0">
              <button type="button" id="cancelar" class="cancel-btn">
                Cancelar
              </button>
              <button type="submit" class="submit-btn" id="reg_partida">
                Registrar Partida
              </button>
            </div>
          </form>

          <!-- MOSTRAR INFORMACION DE LA PARTIDA -->
          <table class="table mt-4">
            <thead class="thead-dark">
              <th>Fecha</th>
              <th>Detalle o Descripción</th>
              <th>Cuentas</th>
              <th>Debe</th>
              <th>Haber</th>
            </thead>
            <tbody id="detalle_partida"></tbody>
          </table>
        </div>
      </main>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

  <script src="/js/contador/registrarPartida.js"></script>
</body>
</html>